/* grid layout */
.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  }
  
  /* flex layout */
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  p {
    flex: 1;
  }
  
  /* presentation */
  body {
    font-family: sans-serif;
  }
  
  h2 {
    margin: 0 0 0.5em;
  }
  
  h2 a {
    color: #b44;
  }
  
  p {
    margin: 0 0 1em;
  }
  
  span {
    font-size: 80%;
    font-weight: bold;
  }
  
  .flex {
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    padding: 1em;
  }